@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
  --bg-dark: #0e0e10;
  --glass-bg: rgba(255, 255, 255, 0.887);
  --glass-border: rgba(255, 255, 255, 0.249);
  --text-main: rgb(171, 0, 0);
  --text-sub: #585858;
  --accent: #ea0000;
  --danger: #ff6b6b;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  color: var(--text-main);
  background: url('../../assets/Page1.png');
  background-size: cover;
  display: flex;
  overflow-x: hidden;
  position: relative;
  padding-bottom: 60px;
}

.logo-img {
    margin-bottom: 20px;
    margin-top: 15px;
    width: 200px;
    height: auto;
}

/* container utama form login */
.login-container {
    background: var(--glass-bg);
    backdrop-filter: blur(15px);
    border: 1px solid var(--glass-border);
    border-radius: 12px;
    padding: 30px;
    width: 100%;
    max-width: 400px;
    margin: 100px auto;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}

/* Judul Form */
.login-container h2 {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 29px;
    color: var(--text-main);
}

.error-message {
    background-color: rgba(255, 107, 107, 0.2);
    color: var(--danger);
    border: 1px solid rgba(255, 107, 107, 0.5);
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    color: var(--text-sub);
}

.form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid rgba(80, 80, 80, 0.247);
    border-radius: 8px;
    background: rgb(228, 228, 228);
    color: var(--text-main);
    font-size: 16px;
    box-sizing: border-box;
}

.register-link a {
    color: var(--accent);
    text-decoration: none;
    font-weight: 500;
}

.register-link a:hover {
    text-decoration: underline;
}

.login-button {
    background: #c31a1a;             
    color: #ffffff;
    padding: 18px 30px;
    border: none;
    border-radius: 24px;             
    cursor: pointer;
    width: 60%;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    transition: all 0.25s ease;
    box-shadow: 0 6px 16px rgba(255, 23, 23, 0.563);
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-button:hover {
    background: #ce2020;
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(141, 22, 22, 0.613);
}
